<div class="start-screen">
    <div class="start-box">
        <h1>
            <span class="fire">R</span>
            <span class="fire">i</span>
            <span class="fire">n</span>
            <span class="fire">g</span>
            <br>
            <span class="fire">o</span>
            <span class="fire">f</span>
            <br>
            <span class="fire">F</span>
            <span class="fire">i</span>
            <span class="fire">r</span>
            <span class="fire">e</span>
        </h1>
    </div>
    <div class="box-2">
        <div class="btn btn-two">
          <span (click)="newGame()">Start</span>
        </div>
      </div>
</div>



